<!Doctype html>
<html> 
    <head>
        <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Event Management Access</title>
        <script src="https://kit.fontawesome.com/899db33f25.js" crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
       <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/style2.css">
        
        <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/bootstrap.css"/>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/font-awesome-line-awesome/css/all.min.css" integrity="sha512-dC0G5HMA6hLr/E1TM623RN6qK+sL8sz5vB+Uc68J7cBon68bMfKcvbkg6OqlfGHo1nMmcCxO5AinnRTDhWbWsA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="app_wrapper">
            <div class="sidebar">
                <div class ="profile">
                    <div class="top flex">
                      <img src=" http://127.0.0.1:5000/static/man.jpg" alt="">
                       <span> Jayson Alfie </span>
                    </div>
                </div>
                <div class="center">
                    <ul>
                        <a href ="http://127.0.0.1:5000/dashboard" class="link flex">
                            <i class="fa-solid fa-house-user" style="color: #000002;"></i>
                            <span>Dashboard</span>
                        </a>  
                        <a href ="http://127.0.0.1:5000/events" class="link flex">
                            <i class="fa-solid fa-calendar-days" style="color: #000002;"></i>
                            <span>Events</span>
                        </a>
                        <a href ="http://127.0.0.1:5000/notifications" class="link flex">
                            <i class="fa-solid fa-bell" style="color: #000002;"></i>
                            <span>Notifications</span>
                        </a>
                        <a href ="" class="link flex">
                            <i class="fa-regular fa-calendar-days" style="color: #000002;"></i>
                            <span>Calendar</span>
                        </a>
                            
                    </ul>
                    

                </div>
                <div class="bottom">
                    <a href ="" class="link flex">
                    <i class="fa-solid fa-arrow-right-from-bracket" style="color: #000002;"></i>
                    <span>Log out</span>
                    </a>     
                </div>

            </div>


            <div class="maincontent">
                <div class="top flex">
                    <div class="content">
                        <h2> Let's start <br>you new <br>exciting day!</h2>
                        <p> Check the calendar to see what exciting <br>
                            tasks  are waiting for you today</p>
                         <button class="btn btn-danger"> My Calendar</button>   
                    </div>
                    <div class="activity"></div>

                </div>

                <div class="bottom flex">
                   <div class="events"> 
                     <h4>Upcoming Events</h4>
                      <div class="upcoming flex">
                        <img src="http://127.0.0.1:5000/static/dinner.jpg" alt="">
                        <span>Arcane dinner event<br> 11th August 2023</span>
                      </div>
                      <div class="upcoming flex">
                        <img src="http://127.0.0.1:5000/static/concert.jpg" alt="">
                        <span>Synergy Concert<br>22ndAugust 2023</span>
                      </div>
                   </div>

                    <div class="summary">
                        <div class="summary_content flex">
                            <h4 style="color:white;">Total recorded <br>events</h4>
                            <span>24</span>
                          </div>
                          <div class="summary_content flex">
                            <h4 style="color:white;">Total reminder <br>notifications</h4>
                            <span>16</span>
                        </div>   
                    </div>
                </div>
            
            </div>

        </div>
        
     <script src="../static/js/bootstrap.js"></script>
    
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    

    </body>

</html>
