<!DOCTYPE html>
<html>
    <head>
        
        
       <title>Event Management System</title>
       <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/style.css">
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
        <header>
            <nav >
               
                 <a href=""> <img  id ="logo" src = "http://127.0.0.1:5000/static/Logo.jpg">EveMan</a>
                  <div class="nav-links" id="navlinks">
                   
                       <ul>
                           <li><a href="http://127.0.0.1:5000/login">login</a></li>
                           <li><a href="http://127.0.0.1:5000/signup">signup</a></li>
                           
                           
                       </ul>
                   
                    <div>
            </nav>  
   
           </header>
           <main>
            <section>
                <div class="paragraph">
                    <h2 class="heading">EVENT<br> MANAGEMENT<br>SYSTEM</h2>
                    <p class="info">Recording events you may have to enable<br> you to remember so that you do not miss<br> out on anything</p>
                    <p class="info">“The palest ink is better  than the best memory”<br>
                        -Chinese  proverb</p>
                </div>
                <div class="images">
                    <img  class="event1" src="http://127.0.0.1:5000/static/eventpic1.jpg">
                    <div class ="images2">
                        <img class="event1"  src="http://127.0.0.1:5000/static/eventpic2.jpg">
                        <img  class= "event1" src="http://127.0.0.1:5000/static/eventpic3.jpg">
                    </div>
                </div>
            </section>
           </main>
    </body>
</html>